@import 'tailwindcss';

@theme {
	--color-white: #f7f6f6;
	--color-black: #121111;
	--color-accentOne: #c3abed;
	--color-accentTwo: #5b20c2;
	--font-montserrat: 'Montserrat', sans-serif;
	--font-fjallaone: 'Fjalla One', sans-serif;
}
